################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnrollCourse.API/.vs/EnrollCourse.API
/EnrollCourse.API/bin/Debug/net8.0
/EnrollCourse.Data/obj/Debug/net8.0
/EnrollCourse.Data/obj
/EnrollCourse.API/obj
/EnrollCourse.Core/bin/Debug/net8.0
/EnrollCourse.Core/obj
/EnrollCourse.Data/bin/Debug/net8.0
/EnrollCourse.Service/bin/Debug/net8.0
/EnrollCourse.Service/obj
EnrollCourse.API/.vs/ProjectEvaluation/enrollcourse.api.metadata.v9.bin
EnrollCourse.API/.vs/ProjectEvaluation/enrollcourse.api.projects.v9.bin
EnrollCourse.API/.vs/ProjectEvaluation/enrollcourse.api.strings.v9.bin
/EnrollCourse.API/appsettings.Development.json
/EnrollCourse.API/bin/Release/net8.0
/EnrollCourse.API/Properties
/EnrollCourse.Core/bin/Release/net8.0
/EnrollCourse.Data/bin/Release/net8.0
/EnrollCourse.Service/bin/Release/net8.0
