<div>
  <div class="text-content">
    <h2>All the skills you need in one place!</h2>
    <h5><small>From critical skills to technical topics</small></h5>
  </div>
  
  <div class="carousel-container">
    <div class="card category-card" *ngFor="let category of categories">
      <div class="card-body">
        <h5 class="card-title">
          <i class="bi bi-boookmark-fill me-2"></i>{{category.categoryName}}
        </h5>
        <p class="card-text">{{category.description}}</p>
        <a href="" class="btn btn-primary">Explore</a>
      </div>
    </div>
  </div>
</div>
